/* 
    Created on : 23.8.2013, 11:49:22
    Author     : akin
*/

body {
    margin: 0;
    padding: 0;
    background-color: #112;
    font: 14px calibri, arial;
    color: #aaf;
    overflow: hidden;
}

canvas {
    position: absolute;
}

#debug_box {
    position: absolute;
    z-index: 10;
}
